/************COLORS*************/

.my-transparent-back {
    background-color: transparent;
}

.my-black {
    color: #000;
}

.my-black:hover {
    color: #000;
}

.my-white {
    color: #f8eede;
}

.my-white-back {
    background-color: #f8eede;
}

.my-yellow-back {
    background-color: #efbf77;
}

.my-orange {
    color: #ff9d00;
}

.my-orange-back {
    background-color: #ff9d00;
}

.my-brown {
    color: #682913;
}

.my-red-back {
    background-color: #7c0707;
}

/*************BODY************/

body {
    font-family: 'EB Garamond', serif;
    background-color: #efbf77;
}

/*************NAVBAR************/

.navbar-brand,
.nav-link {    
    font-size: 1.25rem;
}

/*************HEADER************/

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("static/images/DSCN0293.JPG");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
}

.jumbotron {  
    padding-top: 10rem;
    padding-bottom: 6rem;
}

.jumbotron h1 {
    letter-spacing: 0.75rem;    
}

.jumbotron .btn {   
    margin-top: 3rem;
    margin-bottom: 6rem;
}

/*************QOUTE************/

.quote {
    margin-top: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.quote-text,
.blockquote-footer { 
    font-size: 1.4rem;
}

/*************MAIN************/

.card {
    margin-top: 3rem;
    margin-bottom: 1rem;
    border: none;
}

.card-body img {
    width: 15rem;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.card-text {   
    font-size: 1.25rem;
}

.card-body .btn {
    font-size: 1.1rem;
}

/*************FOOTER************/

.footer {
    padding: 0.5rem 0;   
}

.footer a:hover {
    text-decoration: none;
}

.footer-icons {   
    font-size: 1.2rem;
}

/*************ABOUT************/

.about {
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.about h1, h2 {
    margin-bottom: 2rem;
}

.about p {
    font-size: 1.25rem
}

.about img {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*************ARTICLES1************/

.article-text {
    margin-top: 4rem; 
}

.article-text h3 {
    margin-top: 0.5rem;
}

.article-text p.text-justify {
    font-size: 1.25rem;
}

.article-text img {
    width: 20rem;
    height: auto;
    margin-bottom: 1rem;
}

/*************IMAGES************/

.image-container {
    margin-top: 5rem;
}

.image-row {
    margin-bottom: 1rem;
}

.image-row .gallery-img {
    padding-bottom: 0.75rem;
}

/*************VIDEOS************/

.video-container {
    margin-top: 5rem;
}

.video-frame {
    margin: 1rem;
}

/*************WINE UP-FORM************/

.form-container {
    height: 100vh;
    background-color: #591111;
}

.wine-up-welcome-text {
    margin-top: 15%;
    margin-right: 2%;
    margin-left: 2%;
    background-color: #efbf77;
}

.wine-up-welcome-text h2 {
    font-weight: bold;

}

.wine-up-welcome-text h2,
p {
    font-size: 125%;
    padding: 2%;
    background-color: #efbf77;
}

.wine-up-form {
    text-align: center;
    margin-top: 5%;
    padding: 5%;
    background-color: #efbf77;
}

.form-group label {
    font-size: 125%;
    font-weight: bold;
}

.form-group #name,
#email,
#description {
    background-color: #f7d29b;
    font-size: 120%;
    font-style: italic;
    text-align: center;
}

.wine-up-form button {
    color: #fff;
    background-color: #591111;
    font-size: 120%;
}

.wine-up-form button:hover {
    color: #591111;
    background-color: #f7d29b;
}
