/*
COLORS:
<bacground for nav, quote, footer, card>
-light-brown-cream: rgb(247, 210, 155); #f7d29b;
-option b: rgb(239, 191, 119); #efbf77;

 rgb(89, 17, 17); #591111;

-brown-warm: rgb(202, 69, 17); #ca4511;
-dark-brown: rgb(104, 41, 19); #682913;
*/


body {
    font-family: 'EB Garamond', serif;
    background-color:#efbf77;
}

/*************NAVBAR************/

#main-nav {   
    background-color:#ff9d00;/*#f7d29b;*/
}

.navbar .navbar-brand {
    color: #ca4511;
    font-weight: bold;
}

#navbar-content {
    text-align: center;
}

#navbar-content a {
    color: #ca4511;
}

#navbar-content a:hover {
    color: #591111;
}

.nav-item a {
    color: #682913;
    font-weight: bold;
    color: mx-auto;
}

button .navbar-toggler {
    color: #682913;
}

/*************HEADER************/

.header {
    height: 100%; 
    background-image:  url("static/images/DSCN0293.JPG");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
}

.jumbotron {
    background-color: transparent;
    
}

.jumbo-text {
    position: relative;
    top: 20%;
    text-align: center;
}

.jumbotron h1 {
    color: #ff9d00; /*#f70909; 591111*/
    font-weight: bold;
    font-size: 615%;
    letter-spacing: 20px;

    /*dark red f70909
    bright yellow ead919*/
}

.jumbo-text .lead {
    margin-top: 10%;
    background-color: transparent;
}

.jumbotron .lead .btn {
    background-color: #ff9d00; /*#efbf77;*/
    color: #682913;
}

/*************QOUTE************/

.quote {
    background-color:#f7d29b;
}

.blockquote {
    padding: 1%;
    background-color: #f7d29b;
}



.blockquote p {
    color:#ca4511;
    background-color: #f7d29b;
}

.blockquote footer {
    color:#682913;
}

/*************MAIN************/

.main {
    background-image: url("static/images/DSCN0295.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;   
}

.main-content {
    padding-top: 4%;
    padding-bottom: 4%;
}

.card-single {
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 10%;
    background-color: #f7d29b;
}

.card-single:hover {
    background-color: #efbf77;
}

.card-body {  
    color: #c42f05;
}
.card-body .card-title {
    font-weight: bold;
}

.card-body p {
    background-color: transparent;
}

.card-body a {
    color: #682913;
}
